html, body, canvas {
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

canvas {
    width: 100vw;
    height: 100vh;
    image-rendering: pixelated;
}